In [1]:
# print 0 to 20 by using range

In [3]:
for num in range (0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [11]:
# print range 10 to 20

In [15]:
for num in range (10,20):
    print(num, end=" ")

10 11 12 13 14 15 16 17 18 19

In [18]:
# print number of items in the list by using 'len'

In [28]:
lists2 = [10,20,14,55,43,87,76]
print (lists2)
print ("Number of item in the List2: \n",len(lists2))

[10, 20, 14, 55, 43, 87, 76]
Number of item in the List2:
 7

In [30]:
text1="Artificial Intelligence"
print(text1)
for a in text1:
    print (a)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [34]:
print ("- Your Name - AMW Roomy ")
print ("- Your Age - 49")
print ("- Your Profession - Application Support Engineer")

- Your Name - AMW Roomy
- Your Age - 49
- Your Profession - Application Support Engineer

In [36]:
tuples = (1, "Welcome", 2, "Hope")
print (tuples)

(1, 'Welcome', 2, 'Hope')

In [48]:
tuples1 = (0,1,2,3)
tuples2= ("python","HOPE")
tuples3 = (tuples1, tuples2)
print (tuples3)

((0, 1, 2, 3), ('python', 'HOPE'))

In [ ]:
# print odd numbers in the list

In [52]:
lists = (20,10,16,19,25,1,276,188)
for odd1 in lists:
    if (odd1 % 2)==1:
        print (odd1," is odd")

19  is odd
25  is odd
1  is odd

In [54]:
# print Even numbers in the list

In [56]:
lists = (20,10,16,19,25,1,276,188)
for odd1 in lists:
    if (odd1 % 2)==0:
        print (odd1," is even")

20  is even
10  is even
16  is even
276  is even
188  is even